@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit), var(--font-geist-sans), sans-serif;
  --font-serif: var(--font-kaisei-decol), serif;
  --font-japanese: var(--font-kaisei-decol), serif;
  --font-display: var(--font-cinzel), serif;
}

:root {
  --background: #f8fafc;
  /* slate-50 */
  --foreground: #0f172a;
  /* slate-900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    /* slate-950 */
    --foreground: #f8fafc;
    /* slate-50 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-japanese);
}